---
---
<div class="title">Settlement 2024-W47</div>
<div class="small">Kopi A × Cafe B</div>
<div style="margin-top:10px">
  <div class="row"><span>Total omzet</span><span class="neu">Rp 1.260.000</span></div>
  <div class="row"><span>Brand 70%</span><span class="pos">+Rp 882.000</span></div>
  <div class="row"><span>Cafe 30%</span><span class="pos">+Rp 378.000</span></div>
  <div class="row total"><span>Status</span><span class="neu">PENDING_BRAND</span></div>
</div>
